.about-page-mask,
.about-page-mask:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.about-page-mask {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &:before {
        z-index: 5;
        content: '';
        background: rgba(255,255,255,0.85);
    }
}

.login-welcome-col {
    .about-page-text {
        font-size: 17px;
        line-height: 1.5em;
    }
}